<svg xmlns="http://www.w3.org/2000/svg" class="svg-icon-lib">
    <symbol id="fw--icon--arrow-left" viewBox="0 0 32 32">
      <title>arrow-left icon</title>
      <path d="M10.584 17.354v2.372c0 .147-.067.25-.202.307a.336.336 0 0 1-.369-.054l-4.065-3.704a.345.345 0 0 1 0-.497l4.065-3.747c.112-.1.236-.12.369-.063.135.063.202.165.202.307v2.371zM9.158 15h16v2h-16v-2z"/>
    </symbol>
    <symbol id="fw--icon--arrow-right" viewBox="0 0 32 32">
      <title>arrow-right icon</title>
      <path d="M21.416 14.646v-2.372c0-.147.066-.25.201-.307a.336.336 0 0 1 .369.054l4.066 3.704a.345.345 0 0 1 0 .497l-4.066 3.747a.324.324 0 0 1-.369.063c-.135-.063-.201-.165-.201-.307v-2.371zM6.842 15h16v2h-16v-2z"/>
    </symbol>
    <symbol id="fw--icon--behance" viewBox="0 0 32 32">
      <title>behance icon</title>
      <path d="M12.992 13.717s2.742-.874 2.583-4.372c-.159-3.496-2.583-4.25-4.451-4.569H0v19.627h10.092s6.396.24 6.396-5.839c0 .001.33-3.68-3.496-4.847zM4.33 8.153h4.928c1.948 0 2.066 2.205 2.066 2.205 0 2.286-2.463 2.206-2.463 2.206H4.33V8.153zm5.405 12.874H4.33v-5.364h5.365s2.503.358 2.503 2.683c0 2.323-2.463 2.681-2.463 2.681zM24.833 9.704s-6.795.159-7.152 7.47c0 0 0 1.43.357 2.742.357 1.311 2.264 4.808 7.112 4.808s6.159-3.616 6.637-4.769h-3.538s-.913 1.907-3.177 1.907-3.377-1.946-3.417-3.516h10.331c-.001 0 .673-8.642-7.153-8.642zm-3.178 5.96s.437-2.9 3.219-2.9c0 0 2.78-.239 3.139 2.9h-6.358zm-.757-9.617h7.948v2.106h-7.948V6.047z"/>
    </symbol>
    <symbol id="fw--icon--chevron-left" viewBox="0 0 32 32">
      <title>chevron-left icon</title>
      <path d="M22.399 29.736a.997.997 0 0 1-.707-.293l-12.799-12.8a.999.999 0 0 1 0-1.414l12.799-12.8a.999.999 0 1 1 1.414 1.414L11.015 15.936l12.092 12.093a.999.999 0 0 1-.708 1.707z"/>
    </symbol>
    <symbol id="fw--icon--chevron-right" viewBox="0 0 32 32">
      <title>chevron-right icon</title>
      <path d="M9.601 29.736a.999.999 0 0 1-.707-1.707l12.092-12.092L8.894 3.843a.999.999 0 1 1 1.414-1.414l12.799 12.8a.999.999 0 0 1 0 1.414l-12.799 12.8a1 1 0 0 1-.707.293z"/>
    </symbol>
    <symbol id="fw--icon--cross-circle" viewBox="0 0 32 32">
      <title>cross-circle icon</title>
      <path d="M15.795.001C6.997.114-.111 7.405.001 16.205c.112 8.799 7.404 15.907 16.203 15.794 8.799-.112 15.907-7.404 15.793-16.203C31.887 6.997 24.595-.111 15.795.001zm6.066 23.925l-5.833-5.685-5.686 5.832-2.269-2.212 5.686-5.832-5.833-5.687 2.211-2.268 5.833 5.686 5.686-5.833 2.269 2.211-5.686 5.833 5.832 5.686-2.21 2.269z"/>
    </symbol>
    <symbol id="fw--icon--cross" viewBox="0 0 32 32">
      <title>cross icon</title>
      <path d="M30.083 31.647c-.385 0-.77-.147-1.063-.442l-28-28.128A1.501 1.501 0 0 1 3.146.96l28 28.128a1.5 1.5 0 0 1-1.063 2.559zm-28 0a1.499 1.499 0 0 1-1.064-2.558l28-28.129a1.501 1.501 0 0 1 2.127 2.116l-28 28.129a1.493 1.493 0 0 1-1.063.442z"/>
    </symbol>
    <symbol id="fw--icon--expand-less-solid" viewBox="0 0 32 32">
      <title>expand-less-solid icon</title>
      <path d="M23.034 18.438l-6.25-6.386a1.001 1.001 0 0 0-.709-.3c-.262.016-.523.104-.712.293l-6.497 6.496a1 1 0 0 0 .707 1.707h12.875a1 1 0 0 0 .586-1.81z"/>
    </symbol>
    <symbol id="fw--icon--expand-less" viewBox="0 0 32 32">
      <title>expand-less icon</title>
      <path d="M23.142 20.61a.998.998 0 0 1-.715-.301l-6.364-6.504-6.505 6.364a.999.999 0 1 1-1.398-1.43l7.22-7.063a1 1 0 0 1 1.414.016l7.063 7.219a1 1 0 0 1-.715 1.699z"/>
    </symbol>
    <symbol id="fw--icon--expand-more-solid" viewBox="0 0 32 32">
      <title>expand-more-solid icon</title>
      <path d="M23.352 12.369a1 1 0 0 0-.924-.617H9.572a1 1 0 0 0-.715 1.699l6.358 6.496c.187.19.442.299.709.3h.005c.265 0 .52-.105.707-.293l6.497-6.496a.997.997 0 0 0 .219-1.089z"/>
    </symbol>
    <symbol id="fw--icon--expand-more" viewBox="0 0 32 32">
      <title>expand-more icon</title>
      <path d="M15.922 20.609a1 1 0 0 1-.715-.301l-7.064-7.219a1 1 0 1 1 1.43-1.398l6.365 6.504 6.504-6.364a.999.999 0 1 1 1.398 1.43l-7.219 7.063a.99.99 0 0 1-.699.285z"/>
    </symbol>
    <symbol id="fw--icon--facebook" viewBox="0 0 32 32">
      <title>facebook icon</title>
      <path d="M27.079 0H5.318C2.491 0 0 2.054 0 4.882v21.76C0 29.47 2.491 32 5.318 32h13.474c-.025-4.194.006-8.865-.015-12.923-.859-.009-1.719-.053-2.578-.066.003-1.434.001-2.898.002-4.333.858-.011 1.718-.013 2.576-.021.026-1.395-.025-2.798.027-4.192.086-1.103.507-2.218 1.332-2.98.998-.951 2.418-1.274 3.758-1.313 1.416-.013 2.832-.006 4.25-.005a609.01 609.01 0 0 1-.001 4.483c-.916-.001-1.832.002-2.747-.001-.58-.037-1.177.403-1.283.979-.014 1-.004 2-.004 3 1.343.005 2.686-.002 4.028.003a56.42 56.42 0 0 1-.488 4.321c-1.187.011-2.373.118-3.559.125-.01 4.057.003 8.729-.007 12.924h2.995C29.906 32 32 29.47 32 26.642V4.882C32 2.054 29.906 0 27.079 0z"/>
    </symbol>
    <symbol id="fw--icon--flickr" viewBox="0 0 32 32">
      <title>flickr icon</title>
      <path d="M14.62 16A7.31 7.31 0 1 1 0 16a7.31 7.31 0 0 1 14.62 0zM32 16a7.31 7.31 0 1 1-14.622 0A7.31 7.31 0 1 1 32 16z"/>
    </symbol>
    <symbol id="fw--icon--googleplus" viewBox="0 0 32 32">
      <title>googleplus icon</title>
      <path d="M16.037 16.289c-.781-.848-.196-2.165.391-2.78.582-.611 1.636-1.43 2.134-1.898.495-.466 1.694-1.552 1.726-4.794 0 0 .292-2.925-2.896-5.293h2.514L22.569.003h-9.007S8.211-.173 5.64 3.105c-2.577 3.272-2.49 7.365.29 9.676 2.776 2.308 6.094 1.664 6.094 1.664s-.509 1.083-.422 1.99c.092.903 1.08 2.194 1.286 2.484 0 0-6.121-.029-9.112 2.662C.785 24.27.464 29.533 6.399 31.346s13.623-.147 15.175-5.849c0 0 .672-2.338-.498-4.328-1.171-1.988-4.263-4.033-5.039-4.88zm-6.576-4.708c-1.906-2.565-3.355-7.587 0-9.713 0 0 2.455-1.492 4.625.677 2.172 2.171 2.786 5.855 2.391 7.72-.393 1.866-1.444 2.304-1.908 2.588-.461.283-3.202 1.295-5.108-1.272zM18.89 25.66c-.087 1.007-.217 3.222-3.837 4.275-3.618 1.053-9.824-.68-9.65-4.913 0 0 .024-1.797 1.163-2.806 1.144-1.009 2.806-2.038 7.784-2.104 0 0 1.643 1.225 2.743 2.081 1.094.856 1.884 2.456 1.797 3.467zm8.21-12.089v-3.218h-1.929v3.218h-3.217v1.928h3.217v3.216H27.1v-3.216h3.216v-1.928z"/>
    </symbol>
    <symbol id="fw--icon--instagram" viewBox="0 0 32 32">
      <title>instagram icon</title>
      <path d="M25.675 16A9.674 9.674 0 0 1 16 25.675 9.674 9.674 0 0 1 6.506 14.14H0V27c0 2.763 2.237 5 5 5h22a5 5 0 0 0 5-5V14.14h-6.506c.117.602.181 1.224.181 1.86zM27 0H5a5 5 0 0 0-5 5v5.419h8.1c1.752-2.476 4.637-4.094 7.9-4.094s6.147 1.618 7.899 4.094H32V5a5 5 0 0 0-5-5zm2.444 6.177a.895.895 0 0 1-.893.893h-2.679a.896.896 0 0 1-.894-.893v-2.68c0-.49.402-.893.894-.893h2.679c.491 0 .893.402.893.893v2.68zM21.953 16a5.953 5.953 0 1 0-11.906 0 5.953 5.953 0 1 0 11.906 0z"/>
    </symbol>
    <symbol id="fw--icon--kickstarter" viewBox="0 0 32 32">
      <title>kickstarter icon</title>
      <path d="M12.812 10.906l5.867-8.502C19.789.801 21.223 0 22.979 0c1.434 0 2.672.508 3.719 1.525s1.57 2.233 1.57 3.65c0 1.048-.275 1.972-.83 2.773l-5.291 7.694 6.469 8.202c.646.816.971 1.772.971 2.865 0 1.448-.508 2.692-1.523 3.731-1.018 1.041-2.25 1.56-3.697 1.56-1.588 0-2.797-.516-3.629-1.548l-7.924-9.889v5.453c0 1.556-.27 2.765-.809 3.627C11.018 31.214 9.586 32 7.705 32c-1.709 0-3.033-.578-3.973-1.733-.879-1.062-1.318-2.472-1.318-4.228V5.822c0-1.663.447-3.034 1.34-4.112C4.693.57 5.988 0 7.637 0c1.57 0 2.879.57 3.928 1.71.586.631.955 1.27 1.109 1.917.092.4.139 1.147.139 2.241v5.038z"/>
    </symbol>
    <symbol id="fw--icon--link" viewBox="0 0 32 32">
      <title>link icon</title>
      <path d="M21.035 15.414c.828 1.819.695 3.804-.131 5.458 0 0 0 .032-.033.032-.199.364-.398.694-.662.992-.033.033-.066.1-.1.133-.23.265-.496.529-.793.761a.878.878 0 0 1-.199.165c-.363.265-.727.529-1.158.694l-7.971 3.738c-3.143 1.455-6.848.066-8.303-3.043s-.066-6.847 3.043-8.303l4.531-2.084c0 .729.133 1.456.365 2.15L5.587 17.96c-2.083.96-2.976 3.44-2.017 5.524s3.441 2.978 5.525 2.019l8.004-3.672c.264-.133.496-.265.695-.431.197-.165.396-.33.596-.528a4.132 4.132 0 0 0 .727-4.565l-.1-.198c-1.025-1.919-3.373-2.778-5.391-1.819l-.066.033c-.133-.86.1-1.72.596-2.382 1.521-.298 3.043 0 4.332.728l.033-.033c.133.1.266.198.43.298a6.63 6.63 0 0 1 2.084 2.48zm9.295-7.74c-1.422-3.143-5.16-4.499-8.27-3.076h-.031L14.09 8.269h-.033a.445.445 0 0 0-.133.1 4.9 4.9 0 0 0-.992.596c-.166.099-.264.231-.396.363a4.068 4.068 0 0 0-.529.529c-.133.133-.232.298-.363.463l-.398.596c-.098.165-.164.331-.264.529s-.166.43-.232.628l-.098.298.031-.033a6.278 6.278 0 0 0 .332 4.234l.1.198h-.035c.131.232.264.464.43.694.033.034.066.1.1.133.43.596.959 1.125 1.555 1.521.064.066.164.1.264.165.232.133.43.266.662.364.033 0 .066.033.1.066a6.036 6.036 0 0 0 3.67.396c.531-.661.729-1.521.596-2.381l-.033.032a4.11 4.11 0 0 1-3.473-.032 2.078 2.078 0 0 1-.463-.266c-.066-.032-.133-.099-.199-.132-.131-.099-.264-.198-.396-.33l-.197-.199c-.1-.132-.232-.231-.332-.396-.066-.066-.098-.166-.164-.231l-.299-.496c-.959-2.084-.033-4.565 2.018-5.524l7.078-3.274.895-.397c2.084-.959 4.564-.033 5.523 2.018s.033 4.565-2.018 5.524l-4.068 1.886c.23.694.363 1.422.396 2.116l4.531-2.083c3.14-1.423 4.496-5.129 3.074-8.27z"/>
    </symbol>
    <symbol id="fw--icon--mail" viewBox="0 0 32 32">
      <title>mail icon</title>
      <path d="M2.124 5.527a2.133 2.133 0 0 0-.78.147L15.83 17.796 30.656 5.877a2.096 2.096 0 0 0-.89-.206L2.124 5.527zm29.804 1.748l-15.43 12.406a.915.915 0 0 1-1.152-.012L.203 6.996c-.069.21-.115.427-.117.655L0 24.182c-.002.251.048.487.125.713l8.52-8.229a.91.91 0 0 1 1.264 1.306l-8.51 8.22c.227.083.471.137.727.138l27.643.145c.286.002.559-.056.811-.155l-8.459-8.347a.907.907 0 0 1-.009-1.285.907.907 0 0 1 1.285-.008l8.413 8.297c.062-.198.104-.407.105-.627L32 7.818a2.234 2.234 0 0 0-.072-.543z"/>
    </symbol>
    <symbol id="fw--icon--menu" viewBox="0 0 32 32">
      <title>menu icon</title>
      <path d="M3.729 7.273A.72.72 0 0 0 3 8.007v1.441c0 .405.316.734.729.734h24.543a.72.72 0 0 0 .729-.734V8.007a.725.725 0 0 0-.729-.734H3.729zm0 7.272A.721.721 0 0 0 3 15.28v1.44c0 .405.316.734.729.734h24.543a.72.72 0 0 0 .729-.734v-1.44a.725.725 0 0 0-.729-.734H3.729zm0 7.273a.72.72 0 0 0-.729.734v1.441c0 .405.316.734.729.734h24.543a.72.72 0 0 0 .729-.734v-1.441a.725.725 0 0 0-.729-.734H3.729z"/>
    </symbol>
    <symbol id="fw--icon--minus" viewBox="0 0 32 32">
      <title>minus icon</title>
      <path d="M31 13.5H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h30a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
    </symbol>
    <symbol id="fw--icon--myspace" viewBox="0 0 32 32">
      <title>myspace icon</title>
      <path d="M31.767 19.909c0-2.233-2.267-6.525-6.844-6.525-3.155 0-4.438 1.002-5.462 1.77-.953-1.654-2.935-2.977-4.697-2.977s-3.07.591-4.184 1.654c-.233-.811-1.041-2.917-4.041-2.917-3.713 0-4.289 3.59-4.289 4.068v8.153h7.405v3.675l7.369.017V33h14.743V19.909zM29.078 5.923a4.693 4.693 0 1 1-9.386 0 4.693 4.693 0 0 1 9.386 0zm-11.077 0a3.462 3.462 0 1 1-6.924 0 3.462 3.462 0 0 1 6.924 0zm-8.615.616a2.847 2.847 0 1 1-5.695 0 2.847 2.847 0 0 1 5.695 0z"/>
    </symbol>
    <symbol id="fw--icon--pinterest" viewBox="0 0 32 32">
      <title>pinterest icon</title>
      <path d="M16 0C7.164 0 0 7.164 0 16c0 6.552 3.939 12.18 9.578 14.654-.045-1.117-.009-2.458.277-3.674.309-1.299 2.059-8.719 2.059-8.719s-.511-1.021-.511-2.531c0-2.371 1.374-4.142 3.086-4.142 1.455 0 2.158 1.093 2.158 2.402 0 1.463-.933 3.651-1.413 5.678-.4 1.697.852 3.081 2.525 3.081 3.031 0 5.074-3.893 5.074-8.506 0-3.507-2.363-6.131-6.658-6.131-4.854 0-7.877 3.619-7.877 7.662 0 1.394.41 2.377 1.055 3.138.296.35.337.49.23.892-.076.296-.253 1.005-.325 1.285-.107.405-.436.55-.802.4-2.235-.913-3.276-3.36-3.276-6.113 0-4.545 3.833-9.995 11.436-9.995 6.107 0 10.129 4.42 10.129 9.166 0 6.277-3.49 10.965-8.633 10.965-1.729 0-3.354-.934-3.909-1.994 0 0-.929 3.687-1.126 4.397-.339 1.234-1.003 2.467-1.61 3.428A15.9 15.9 0 0 0 16 32c8.836 0 16-7.163 16-16S24.836 0 16 0z"/>
    </symbol>
    <symbol id="fw--icon--play-circle-fill" viewBox="0 0 32 32">
      <title>play-circle-fill icon</title>
      <path d="M16 32c8.8 0 16-7.2 16-16S24.8 0 16 0 0 7.2 0 16s7.2 16 16 16zm-2.51-20.897L20.019 16l-6.529 4.897v-9.794z"/>
    </symbol>
    <symbol id="fw--icon--play-circle-outline" viewBox="0 0 32 32">
      <title>play-circle-outline icon</title>
      <path d="M16 31.936c8.8 0 16-7.2 16-16s-7.2-16-16-16-16 7.2-16 16 7.2 16 16 16zm0-28.8c7.041 0 12.8 5.76 12.8 12.8 0 7.041-5.759 12.8-12.8 12.8-7.04 0-12.8-5.759-12.8-12.8 0-7.04 5.76-12.8 12.8-12.8zm-2.515 7.903v9.794l6.53-4.897z"/>
    </symbol>
    <symbol id="fw--icon--plus-circle" viewBox="0 0 32 32">
      <title>plus-circle icon</title>
      <path d="M16 32c8.801 0 16-7.2 16-16S24.801 0 16 0C7.201 0 0 7.2 0 16s7.201 16 16 16zm0-28.8c7.041 0 12.801 5.76 12.801 12.8 0 7.041-5.76 12.8-12.801 12.8-7.04 0-12.799-5.759-12.799-12.8C3.201 8.96 8.96 3.2 16 3.2zm-1.6 19.2h3.201v-4.8H22.4v-3.2h-4.799V9.6H14.4v4.8H9.601v3.2H14.4z"/>
    </symbol>
    <symbol id="fw--icon--plus" viewBox="0 0 32 32">
      <title>plus icon</title>
      <path d="M31 13.5H18.5V1a1 1 0 0 0-1-1h-3a1 1 0 0 0-1 1v12.5H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h12.5V31a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V18.5H31a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
    </symbol>
    <symbol id="fw--icon--search" viewBox="0 0 32 32">
      <title>search icon</title>
      <path d="M12.431 25.664C5.576 25.664 0 20.07 0 13.194S5.576.725 12.431.725c6.854 0 12.43 5.594 12.43 12.469s-5.577 12.47-12.43 12.47zm0-21.939C7.23 3.725 3 7.973 3 13.194s4.23 9.469 9.431 9.469c5.2 0 9.43-4.248 9.43-9.469s-4.231-9.469-9.43-9.469zM30.5 31.275c-.385 0-.77-.147-1.062-.441l-9.516-9.55a1.5 1.5 0 1 1 2.125-2.117l9.516 9.55a1.5 1.5 0 0 1-1.063 2.558z"/>
    </symbol>
    <symbol id="fw--icon--tumblr" viewBox="0 0 32 32">
      <title>tumblr icon</title>
      <path d="M7.014 6.928h.934s2.714-.64 3.977-2.894C13.188 1.781 13.049 0 13.049 0h4.474v6.928h7.079v5.566h-7.024v9.07s.055 1.449.193 2.004c.137.557 1.232 1.893 2.964 1.893 1.728 0 4.252-1.111 4.252-1.111v6.703S21.474 32 19.363 32c-2.114 0-8.095-.223-9.056-6.401V12.465H7.014V6.928z"/>
    </symbol>
    <symbol id="fw--icon--twitter" viewBox="0 0 32 32">
      <title>twitter icon</title>
      <path d="M2.23 4.181s4.911 6.51 13.447 6.96c0 0-1.156-3.846 2.388-6.787 3.544-2.945 7.928-.45 8.769.66 0 0 2.493-.39 4.234-1.561 0 0-.569 2.247-2.672 3.601 0 0 2.463-.328 3.604-.989 0 0-1.201 1.923-3.272 3.394 0 0 .87 8.124-6.113 14.837-6.983 6.712-18.47 5.315-22.615 1.8 0 0 5.631.633 9.595-2.746 0 0-4.685-.091-6.036-4.461 0 0 2.342.182 2.748-.27 0 0-5.045-1.216-5.09-6.488 0 0 1.531.767 2.927.812.001-.001-4.865-3.514-1.914-8.762z"/>
    </symbol>
    <symbol id="fw--icon--vimeo" viewBox="0 0 32 32">
      <title>vimeo icon</title>
      <path d="M1.512 11.572L0 9.669s2.66-2.442 4.367-3.977C6.072 4.158 8.17 2.408 9.986 2.581c1.814.172 3.305 1.102 3.977 4.798.67 3.696 1.211 8.212 2.291 10.807 0 0 .691 1.815 1.426 1.729s2.076-1.643 3.416-3.805 2.076-3.977 1.643-5.706c-.434-1.729-3.199-1.297-4.365-.821 0 0 2.035-8.104 9.164-7.392 0 0 4.711 0 4.453 5.62-.262 5.619-4.064 10.504-7.695 14.913-3.633 4.41-7.264 7.523-10.332 7.09-3.068-.432-4.236-4.971-5.23-8.775S6.443 12.221 5.06 10.535c0 0-.65-.865-1.6-.303l-1.948 1.34z"/>
    </symbol>
    <symbol id="fw--icon--vine" viewBox="0 0 32 32">
      <title>vine icon</title>
      <path d="M1.992 4.794H7.5s.842 7.284 2.461 11.393c1.617 4.109 3.859 8.155 5.789 10.396 0 0 2.988-2.365 5.416-7.595 0 0-5.789-3.05-5.789-10.645 0 0 .312-8.343 7.285-8.343s7.346 6.102 7.346 7.596c0 1.495-.5 4.482-1.246 5.666 0 0-2.926.809-4.793-1.557 0 0 .746-1.432.746-3.797 0-2.367-1.183-3.175-2.24-3.175-1.06 0-1.932 1.744-1.932 4.109 0 2.366 1.496 7.16 7.285 7.16h2.117v3.797s-3.052.374-3.86.374c0 0-2.989 6.724-8.591 11.083 0 0-1.309.746-1.867.746-.562 0-2.056-.684-2.928-1.556-.871-.874-8.279-6.249-10.707-25.652z"/>
    </symbol>
    <symbol id="fw--icon--youtube" viewBox="0 0 32 32">
      <title>youtube icon</title>
      <path d="M8.216 13.56h2.095V7.933L12.748 0H10.62L9.324 5.42h-.131L7.834 0h-2.11l2.492 8.187zm4.437-2.531c0 .85.243 1.525.732 2.028s1.139.755 1.952.755c.845 0 1.509-.243 1.991-.731s.723-1.158.723-2.015V5.899c0-.763-.246-1.386-.736-1.869-.492-.484-1.123-.727-1.893-.727-.845 0-1.518.229-2.02.688-.5.459-.75 1.076-.75 1.852v5.186h.001zm1.914-5.26a.69.69 0 0 1 .212-.529.771.771 0 0 1 .554-.202c.246 0 .444.067.596.202s.228.311.228.529v5.448c0 .269-.074.479-.223.633s-.349.229-.601.229c-.247 0-.436-.074-.567-.225-.133-.15-.198-.362-.198-.639V5.769h-.001zm6.363 7.935c.35 0 .709-.106 1.08-.319s.727-.523 1.069-.93v1.104h1.859V3.557h-1.859v7.593a2.564 2.564 0 0 1-.574.538c-.209.142-.382.212-.519.212-.175 0-.301-.054-.379-.159s-.116-.278-.116-.516V3.557H19.63v8.361c0 .595.11 1.042.328 1.34s.542.446.972.446zm7.313 5.293c0-1.955-1.605-3.543-3.584-3.543-2.823-.117-5.713-.17-8.659-.164-2.947-.006-5.837.047-8.66.164-1.979 0-3.585 1.588-3.585 3.543a59.17 59.17 0 0 0-.165 4.647 58.657 58.657 0 0 0 .166 4.647c0 1.956 1.605 3.543 3.584 3.543 2.823.118 5.713.171 8.659.165a199.52 199.52 0 0 0 8.66-.165c1.979 0 3.584-1.587 3.584-3.543.119-1.549.171-3.099.166-4.647a58.218 58.218 0 0 0-.166-4.647zm-19.28 9.862v.117H7.269V19.59H5.514v-1.71h5.205v1.71H8.963v9.269zm6.032-7.982v8.099h-1.506v-.894c-.277.33-.565.58-.866.753-.3.172-.592.259-.874.259-.349 0-.61-.121-.787-.361-.176-.242-.266-.604-.266-1.086V20.76h1.507v6.209c0 .191.031.331.095.416.062.087.165.13.307.13.11 0 .25-.058.419-.171s.325-.259.466-.436V20.76h1.506v.117h-.001zm5.797 1.929v4.493c0 .576-.118 1.017-.354 1.322s-.577.458-1.023.458c-.295 0-.557-.06-.787-.178s-.445-.301-.643-.548v.623h-1.521V17.881h1.521v3.535c.202-.248.418-.436.646-.564s.459-.193.692-.193c.477 0 .841.174 1.092.52s.377.85.377 1.512v.115zm5.565.249v2.062h-2.881v1.41c0 .426.05.723.149.887.1.165.269.247.509.247.25 0 .425-.069.523-.21.1-.139.149-.447.149-.924v-.562h1.55v.725c0 .83-.188 1.456-.566 1.875-.377.421-.94.63-1.69.63-.674 0-1.204-.223-1.592-.668s-.581-1.057-.581-1.837v-3.753c0-.703.213-1.275.638-1.719.426-.441.976-.664 1.648-.664.689 0 1.219.205 1.588.615.37.41.556 1 .556 1.768v.118zm-7.744-.993a.713.713 0 0 0-.318.078 1.17 1.17 0 0 0-.311.248v4.93c.123.132.241.227.357.285a.79.79 0 0 0 .364.087c.183 0 .319-.058.406-.171.086-.113.13-.3.13-.559v-4.064c0-.273-.054-.48-.161-.621-.106-.142-.262-.213-.467-.213zm5.537.029c-.24 0-.412.073-.517.221-.104.146-.157.39-.157.729v.702h1.331v-.703c0-.339-.053-.582-.157-.729s-.271-.22-.5-.22z"/>
    </symbol></svg>