.spf-product__form {
  display: flex;
  flex-direction: column;
  select {
    display: block;
    opacity: 1;
    visibility: visible;
    width:100%;
    margin-bottom: 4px;

  }
}
.hidden {
  opacity: 0 !important;
}


// button .checkmark {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   margin: auto;
//   // path {
//   //   stroke-dasharray: 19.79 19.79;
//   //   stroke-dashoffset: 19.79;
//   //   stroke: {{ settings.btn_text_color }};
//   //   opacity: 0;
//   // }
//   &.checkmark-active path {
//     -webkit-animation: drawCheckmark 0.5s linear alternate forwards;
//     animation: drawCheckmark 0.5s linear alternate forwards;
//   }
// }

// @keyframes drawCheckmark {
//   from {
//     stroke-dashoffset: 19.79;
//     opacity: 1;
//   }
//   to {
//     stroke-dashoffset: 0;
//     opacity: 1;
//   }
// }

// @-webkit-keyframes drawCheckmark {
//   from {
//     stroke-dashoffset: 19.79;
//     opacity: 1;
//   }
//   to {
//     stroke-dashoffset: 0;
//     opacity: 1;
//   }
// }
