<div class="spacing--4x">
  <article>
    <div class="spacer spacing--5y"></div> 
    <h1 class="page-title font--heading text-align--center">{{ page.title }}</h1>
    <div class="spacer spacing--4y"></div>
    <div class="page-wrapper wide rte-content content">
      {{ page.content }}
    </div>
    <div class="spacer spacing--5y"></div> 
  </article>
</div>